*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.MyBackground{
    background-image: url('https://images.unsplash.com/photo-1463288889890-a56b2853c40f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background: linear-gradient(to top, rgba(0,0,0,5));
    width:100%;
    height:100vh;
    font-family: georgia;
    
}


.content1{
    max-width: 1000px;
    padding: 0 2rem;
    margin: auto;
}

.content1 h2{
    font-family: Georgia;
    font-size: 40px;
    margin-left: 0;
    text-align: center;
    margin-bottom: 3rem;
}

.content1 h2 span{
    color: olive;
}

.content1 img{
    width: 100%;

}

@media (max-width:500px)
{
    .content1{
        display: block;

    }
    .content2{
        display: block;
    }
    .box{
        display: block;
    }
}


.card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    background-color: #f1f1f1;
    position:relative;
    margin-bottom: 2rem;
    padding: 2rem;
}

.card h2{
    margin-bottom: 2rem;
}

.card img{
    height: 300px;
}

.card a{
    text-decoration: none;
    color:black
}

@media (prefers-reduced-motion: no-preference){
.card a:hover{
    animation: changeSize 1s 1;
}
}

@keyframes changeSize {
    0%{
        transform: scale(0.5,0.25);
    }
    50%{
        transform: scale(1,0.25);
    }
}

.card:nth-child(even) img{
    order: 2;
}

.line{
    height: 2px;
    background-color: black;
}

.logo h1{
    width: 100px;
    height: 30px;
    font-family:Georgia;
    padding: 0;
    text-align: center;
    margin:2px, 2px, 2px, 2px;
    color:darksalmon;
}

.navbar{
    background-color: #333;
    opacity: 0.5;
    position: sticky;
    margin-top: 20px;
}

.navbar ul{
    padding: 0;
    margin: 0;
}

.navbar ul li{
    float:left;
    border-right: 1px solid white;
    padding: 5px 10px;
    list-style-type:none;
    color: white;
}

.navbarul li:hover{
    background-color:lightgray;
    color:black;
}

.navbar ul li:last-child
{
    border-right: none;
}

.navbar ul li a{
    display: block;
    font-size: 20px;
    padding: 5px 15px;
    font-family: Georgia;
    color: white;
    text-decoration: none;
    text-align: center;
}

.navbar a:last-child
{
    border-right: none;
}


.navbar a:hover{
    background-color:lightgray;
    color:black;
    opacity:0.8;
}

#panel1{
    background-color: #333;
    opacity: 0.6;
    height:800px;
    width:2040px;
    border-right: 2px solid white;
    padding: 1rem;

}

#panel1 h2{
    color:white;
    margin: 1rem;
    padding: auto;
    font-size: 50px;
    font-family: georgia;
    text-align: center;
}

#panel1 h3{
    color:white;
    margin: -3rem;
    margin-left: 6rem;
    padding: 0.5rem;
    padding: auto;
    font-size: 40px;
    font-family: georgia;
}

#panel1 h4{
    color:white;
    margin: 5rem;
    margin-left: 6.2rem;
    padding: auto;
    font-size: 20px;
    font-family: georgia;
}

#panel1 p{
    color: white;
    font-size: 17px;
    font-family: georgia;
    width:fit-content;
    padding: 0.2rem;;
    padding: 1rem;
    margin-top: 3rem;
    margin-left: 5.6rem;
}

#myimg{
    background-image: url('https://yt3.ggpht.com/g3j3iOUOPhNxBCNAArBqiYGzHzCBIzr_Al8mdvtBJeZMGFDblnU5rlVUt6GY01AUwm7Cp70J=s900-c-k-c0x00ffffff-no-rj');
    height:350px;
    width: 350px;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    backface-visibility: visible;
    background-size:contain;
    margin-left: 770px;
}
.container{
    background-color:white;
    height:100vh;
}

#passion h2{
    font-family: georgia;
    font-size: 70px;
    text-align: center;
    margin-top: 15px;
    padding: 2rem;
}

#passion h2 span{
    color:darkkhaki;
}

#passion p{
    font-family: Georgia;
    font-size: 40px;
    margin: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}

.footer{
    background-color: #333;
    height: 300px;
    box-sizing:content-box;
    margin:0;
    
}

.footer h4
{
    color:white;
    font-size: 24px;
    font-family: Cambria;
    margin-left: 40px;
    margin-top: 20px;
}

.footer ul li{
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding:0;
    margin: 25px;
    list-style-type: none;
}

.footer ul li a{
    color: white;
    text-decoration: none;
}

.info{
    position: absolute;
    border-right: 1px solid white;
    padding: -5px;
    margin-top: 15px;
    margin-left: 50px;
    margin-bottom: 15px;
}

.register{
    position: absolute;
    margin-left: 400px;
}

.register h4{
    margin-left: 7rem;
}

.info:last-child{
    border-right: none;
}

.info ul li input{
    text-align: left;
    font-family: georgia;
}

.info ul li{
    font-family: georgia;
}
.info ul li button{
    width: 255px;
    height: 30px;
    font-size: 17px;
    font-family: georgia;
}

.location{
    position: absolute;
    margin-left: 1500px;
}

.location h4{
    color: white;
    font-family: georgia;
}

.location iframe{
    width: 250px;
    height: 200px;
    margin-left: 45px;
    margin-top: 25px;
}

.end{
    background-color: black;
    height: 70px;
}

.end h4{
    color: white;
    font-size: 25px;
    font-family: georgia;
    text-align: center;
    margin: 1rem;
    padding: 0.2rem;
}


@media (max-width: 600px) {
    .textcontainer{
        flex-direction: column;
    }
    .card{
        display: block;
    }
}

@media (prefers-reduced-motion: no-preference){
.info ul li button:hover{
    animation: wide-the-size 1s 1;
    background-color:gray;
    border: 1px solid gray;
}
}

@keyframes wide-the-size{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
}

.myname{
    margin-left: 70rem;
    margin-top: 9rem;
}
.myname p{
    color: white;
    font-size: 30px;
    font-family: Georgia;
    font-style: italic;

}